<footer>
    <div class="grid two">
        <div class="container">
            <h2 id="contact" class="text-left scroll-offset-no-icon">Contact</h2>

            <div class="grid two-very-slim-left force gap20">
                <h6><img src="/imgs/market_stall.svg" alt="Hours" style="width: 30px" /></h6>
                <p class="mb-0 mt-0">Monday - Friday; 8am - 5pm<br/>
                    <span class="pill"><em>Urgent appointments available</em></span>
                </p>
                
                <h6><i class="lni lni-map-marker"></i></h6>
                <address>
                    Suite 10, Mauranui Clinic<br/>
                    86 Great South Rd, Epsom<br />
                    Auckland 1051
                </address>
                
                <h6><i class="lni lni-phone"></i></h6>
                <p class="mb-0 mt-0">
                    <a href="tel:+64092189720">+64 (09) 218 9720</a>
                </p>


                <h6><i class="lni lni-envelope"></i></h6>
                <form id="contactform" action="https://staticcontact.com/send/" method="post" class="mb-2">
                
                    <div class="grid two mb-1">
                        <div>
                            <label for="name">Name <span class="red">*</span></label>
                            <input type="text" name="name" required />
                        </div>
                        <div>
                            <label for="name">Email <span class="red">*</span></label>
                            <input type="text" name="email" required />
                        </div>
                    </div>
                
                    <label for="message">Message <span class="red">*</span></label>
                    <textarea name="message" class="mb-2" rows="8" required></textarea>
                
                    <button type="submit" class="btn">Submit <i class="lni lni-arrow-right"></i></button>
                    <script src="https://staticcontact.com/js/static_contact_botbuster.js"></script>
                </form>
                {{/* <div class="mb-1"><a href="mailto:admin@headandnecksurgery.co.nz?subject=Dr Benjamin Chan Website Enquiry"
                        class="btn">Email us</a></div> */}}


                {{/*  <div></div>
                <div><a href="mailto:" class="btn">Book an appointment</a></div>  */}}
            </div>

            {{/*  <h6>Urgent appointments</h6>
            <p>Available</p>  */}}
        </div>

        <div class="map_wrapper">
            <div class="map">
                <iframe width="100%" height="780" style="border:0" loading="lazy" allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCkfWWJRx_OrE5FbK-kcK6sTwHLD93LKfs&zoom=16
                &q=Suite+10+Mauranui+Clinic+86+Great+South+Rd+Epsom+Auckland+1051">
                </iframe>
            </div>
        </div>

    </div>

</footer>
<div class="copyright align-center small p-2"> &copy; {{ now.Format "2006"}} {{ .Site.Params.legal_title }}. All rights reserved.</div>