<header id="page-header" class="{{ .Site.Params.headerLayout }} animated fadeIn delay-2s page-at-top" :class="$store.menuTrigger.checked ? 'menu-checked' : ''"  x-data="">
   
    <div>
        <!-- Desktop -->
        <div id="logo" class="animated fadeIn delay-1s">
            {{/* <a href="#"><img src="/imgs/logo_navy.svg" alt="{{ .Site.Title }}" /></a> */}}
            <a href="#" @click="$store.menuTrigger.setOff()">
                {{ .Site.Title }}
                <div id="logo-tag-line">Head and Neck Surgeon</div>
            </a>
        </div>

        <div id="main-menu" class="animated fadeIn delay-1s">
            <nav class="for-tablet-portrait-up">
                {{/* <ul>
                    {{ with .Site.Menus.main}}
                    {{ range sort . }}
                    <li class="navigation-item">
                        <a class="navigation-link {{ .Title }}" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                    {{ end }}
                </ul> */}}
                <ul>
                    <li><a href="#services">Services</a></li>
                    <!-- <li><a href="#about">About</a></li> -->
                    <li><a href="#contact">Contact</a></li>
                    <li><a href="mailto:admin@headandnecksurgery.co.nz?subject=Book an appointment with Dr Benjamin Chan">Book an appointment</a></li>
                </ul>
            </nav>

            <!-- Mobile -->
            <nav role="navigation" class="phone-menu for-phone-only">
                <div id="menuToggle">
                    <input type="checkbox" id="menu-trigger" x-model="$store.menuTrigger.checked"/>
                    <span></span>
                    <span></span>
                    <span></span>

                    <ul id="menu">
                        {{/* {{ with .Site.Menus.main}}
                        {{ range sort . }}
                        <li class="navigation-item">
                            <a class="navigation-link" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
                        </li>
                        {{ end }}
                        {{ end }} */}}
                        <ul>
                            <li><a href="#services" @click="$store.menuTrigger.setOff()">Services</a></li>
                            <!-- <li><a href="#about">About</a></li> -->
                            <li><a href="#contact" @click="$store.menuTrigger.setOff()">Contact</a></li>
                            <li><a href="mailto:admin@headandnecksurgery.co.nz?subject=Book an appointment with Dr Benjamin Chan" @click="$store.menuTrigger.setOff()">Book an appointment</a></li>
                        </ul>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

</header>