{{ partial "components/hero" (dict "title" "Dr Benjamin Chan" "tagline" "Head and Neck Surgeon" "fullImage" "/imgs/hero.jpg") }}

<section class="content content-block-alt animated fadeIn delay-1s">
    <div class="">
        <div class="container">
            {{/*  <div class="text-center" style="font-size: 60px"><i class="lni lni-pulse"></i></div>
            <h2 id="about" class="scroll-offset">About</h2>   */}}
            <div class="content-narrow mx-auto">
            
                <p>Ben Chan is a Head and Neck surgeon based in Otautahi/Christchurch. Ben grew up in
                    Christchurch and completed his medical degree at the University of Otago in 2009. He then
                    went on to surgical training in Otolaryngology, Head and Neck surgery and was awarded his
                    Fellowship in the Australasian College of Surgeons in 2019. His surgical training has taken
                    him all over New Zealand as well as Calgary, Canada, where he completed subspeciality
                    training in advanced Head and Neck surgical oncology and thyroid surgery.</p>

                <p>Ben has a deep understanding of head and neck pathology, as well as the technical
                    expertise required to operate confidently in this complex area. He is an expert in the
                    surgical treatment of thyroid cancer, as well as cancers of the oral cavity, sinonasal tract,
                    throat, salivary glands, and skin. He is also a clear and empathetic communicator who forms
                    valued relationships with his patients and their families. Ben is also adept at the
                    management of benign conditions of the nose and sinuses, as well as paediatric ENT.</p>
                <div class="grid two-slim-right gap40 middle">
                    <div>
                        <p>Ben is a consultant surgeon at Christchurch Public Hospital and is the current Chair of the
                            Head and Neck Cancer multidisciplinary team that covers the mid and upper South Island.
                            He is actively involved in surgical training and lectures at the University of Otago,
                            Christchurch School of Medicine.</p>

                        <p>Together with his wife Jo, Ben has two young children who account for most of his time
                            outside of work. He enjoys running and swimming and has fond memories of having free
                            time.</p>
                    </div>
                    <div class="">
                        <div class="affiliated-logos grid two force middle gap20">
                            <div class="text-left"><img src="/imgs/logo-acc.jpeg" alt="ACC logo" class="acc"/></div>
                            <div><img src="/imgs/logo-southen-cross.svg" alt="Southern Cross logo" class="southern-cross" /></div>
                            <div class="text-left"><svg x="0" y="0" width="42px" height="22px" viewBox="2.5 0.2 42 22" aria-labelledby="fd6gML7wIvd" aria-describedby="zXeYLYeq9uz" role="img" fill="#008a20" class="nib">
                                <title id="fd6gML7wIvd">nib</title>
                                <desc id="zXeYLYeq9uz">nib logo</desc>
                                <g><path d="M3.1,21V6.5h5.3v1.8h0.1c1-1.4,2.5-2.2,4.7-2.2c2.6,0,5,1.6,5,4.9v10h-5.5v-7.6c0-1.7-0.2-2.9-1.8-2.9 c-1,0-2.3,0.5-2.3,2.8V21H3.1z M20.4,21V6.5h5.5V21H20.4z M25.9,1v3.9h-5.5V1H25.9z M38.3,13.7c0-1.7-0.5-3.6-2.5-3.6 c-1.9,0-2.4,1.9-2.4,3.6s0.5,3.6,2.4,3.6C37.8,17.3,38.3,15.4,38.3,13.7z M28.1,21V1h5.5v7.1h0.1c0.8-1.3,2.3-2,3.9-2 c4.9,0,6.2,4.1,6.2,7.6c0,3.6-2,7.7-6.1,7.7c-2.7,0-3.5-1.1-4.2-2h-0.1V21H28.1z" class="sc-cOFTSb jVBvUf"></path></g>
                            </svg></div>
                            <div class="my-2"><img src="/imgs/logo_college_of_surgens.png" alt="College of surgens logo" class="college-of-surgens" /></div>                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="animated content-block fadeIn delay-1s">
    <div class="container">
        <div class="text-center" style="font-size: 60px"><i class="lni lni-sthethoscope"></i></div>
        <h2 id="services" class="scroll-offset">Services</h2> 
        <div class="content-narrow">
        <p class="mb-4">Ben believes that collaboration creates better and more meaningful results. He will work
            with you to understand your symptoms and tailor a management plan that best suits your
            needs and gives you the best result.</p>

        <div class="grid two gap40 service-grid mb-2">
            <div>
                <div class="grid two-small-left force">
                    <div class="mobile-text-center"><img src="/imgs/head_neck.svg" alt="" /></div>
                    <div>
                        <h4 class="mobile-text-center">Head and neck</h4>
                        {{/*  <p>Head and Neck Surgery is an area of specialty that focuses on the diagnosis and treatment of diseases and disorders of the head and neck. This includes cancers, tumors, and chronic diseases of the nose, throat, salivary glands, and larynx, as well as diseases of the skin and neck structures, including the jaw, tonsils and adenoids, ear, and thyroid. Our team of experienced surgeons works together to provide comprehensive care and the most advanced treatments available. I strive to ensure the best possible outcome for our patients.</p>  */}}
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                        {{/*  <a href="#" class="btn">Read more <i class="lni lni-angle-double-right"></i></a>  */}}
                    </div>
                </div>
            </div>
            <div>
                <div class="grid two-small-left force">
                    <div class="mobile-text-center"><img src="/imgs/endocrinology.svg" alt="" /></div>
                    <div>
                        <h4 class="mobile-text-center">Thyroid/parathyroid</h4>
                        {{/*  <p>I specialize in treating disorders of the thyroid and parathyroid glands. I understand that changes in thyroid hormone levels can have a significant impact on your overall health and wellbeing, and are dedicated to diagnosing and managing conditions such as hypothyroidism and hyperthyroidism. Additionally, I offer comprehensive care for parathyroid disorders, including primary hyperparathyroidism, and are experienced in performing minimally invasive surgery to treat these issues.</p>  */}}
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                        {{/*  <a href="#" class="btn">Read more <i class="lni lni-angle-double-right"></i></a>  */}}
                    </div>
                </div>
            </div>
            <div>
                <div class="grid two-small-left force">
                    <div class="mobile-text-center"><img src="/imgs/nose.svg" alt="" /></div>
                    <div>
                        <h4 class="mobile-text-center">Nose and Sinus</h4>
                        {{/*  <P>I specialize in the diagnosis and treatment of nose and sinus conditions. Our board-certified physicians offer comprehensive care, from routine examinations and preventive care, to the most advanced medical and surgical treatments for allergies, sinusitis, and other sinonasal diseases. With the latest techniques and state-of-the-art technology, our physicians strive to provide the highest quality care for our patients.</P>  */}}
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                        {{/*  <a href="#" class="btn">Read more <i class="lni lni-angle-double-right"></i></a>  */}}
                    </div>
                </div>
            </div>
            <div>
                <div class="grid two-small-left force">
                    <div class="mobile-text-center"><img src="/imgs/child.svg" alt="" /></div>
                    <div>
                        <h4 class="mobile-text-center">Paediatric ENT</h4>
                        {{/*  <p>Paediatric ENT is a specialty of otolaryngology that focuses on the diagnosis and treatment of ear, nose, and throat conditions in infants, children, and adolescents. Our experienced Paediatric ENT team is dedicated to providing the highest quality care while ensuring a comfortable, safe, and positive experience for both patients and families. I provide a wide range of services, including hearing evaluations, ear tube placement, tonsil and adenoid removal, and treatment of sleep-disordered breathing.</p>  */}}
                        <ul>
                            <li>Item 1</li>
                            <li>Item 2</li>
                            <li>Item 3</li>
                        </ul>
                        {{/*  <a href="#" class="btn">Read more <i class="lni lni-angle-double-right"></i></a>  */}}
                    </div>
                </div>
            </div>
        </div>
</section>

<!-- <section class="color white pt-6 animated fadeIn delay-1s">
    <div class="container grid one middle py-8 px-2 align-center">
        <h2 class="very-large" id="contact-us">Contact</h2>
        <div class="p-4">
            <a href="mailto: william@sandersonhowe.nz" class="btn xx-large mb-2 mr-1 inline"><i class="far fa-envelope"></i></a>
            <a href="https://www.linkedin.com/company/sanderson-howe/about/" class="btn xx-large mb-2 inline" target="_blank"><i class="fab fa-linkedin"></i></a>
        </div>
    </div>
</section> -->