<section class="hero">
    <!-- <div class="pulse animated fadeOut delay-1s"></div> -->
    <div class="animated fadeIn delay-1s" id="hero-bg" style="background-image: url({{ .fullImage  }});">
    <!-- <div class="align-center" id="hero-bg" style="background: #1b1b1e url({{ .fullImage  }}) no-repeat center center;"> -->
        <div class="hero-content">
            <div class="animated">
                <!-- <div class="align-center icon py-2 yellow"><i class="fas fa-street-view"></i></div> -->
                <div class="pb-2">
                    {{/*  <div class="icon"><i class="lni lni-first-aid"></i></div>  */}}
                    <h1 class="px-1 font-logo">{{ .title }}</h1>
                    <p class="tag-line large mb-0 mr-1">{{ .tagline }}</p>
                    <small class="x-small mb-0 mr-1">MBChB BSc FRACS</small>
                </div>
                {{/*  <div class="pb-2"><img src="/imgs/logo_with_tag_navy.svg" alt="{{ .title }}" /></div>  */}}
            </div>
            <!-- <div id="hero-arrow" class="animated fadeIn delay-3s center white">
                <h5 class="mb-0">Here's how</h5><br/>
                <i class="lni lni-arrow-down hero-arrow animated bounce delay-4s"></i>
            </div> -->
        </div>
    </div>
</section>
